.root {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: aquamarine;
    position: relative;
}

.wheel {
    position: absolute;
    background-color: #423D3D;
    top: 0;
    left: 0;
}

.bands {
    left: 0px;
    top: 0px;
    position: absolute;
}

.band {
    position: absolute;
    top: 0;
    left: 0;
    background-color: bisque;
}

.hover_register {
    position: absolute;
    top: calc(100% /2 - 1100px);
    left: calc(-2200px / 2 - 950px);
    width: 2200px;
    height: 2200px;
    border-radius: 1100px;
    background-color: #423D3D;
    opacity: 0.3;
}
