.root {
    position: fixed;
    height: calc(100% - 130px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    margin-top: 130px;
    font-size: 28px;
}

/*@media screen and (max-width: 1350px) {*/
/*    .root {*/
/*        transform: scale(0.8);*/
/*    }*/
/*}*/

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    position: relative;
    z-index: 100000;
}

.wheel {
    position: absolute;
    background-color: #423D3D;
    top: 0;
    left: 0;
    border: solid #222325 5px;
    box-sizing: border-box;
}

.bands {
    left: 0;
    top: 0;
    position: absolute;
}

.band {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #423D3D;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
}

.band_active {
    border: 3px solid rgba(231, 188, 72, 0.5);
}

.bandIcon {
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 32px;
    color: black;

}

.shadow {
    position: absolute;
    top: 0;
    left: 0px;
    width: 120%;
    height: 100%;
    background: radial-gradient(100% 98.49% at 0% 50.06%, rgba(34, 35, 37, 0.9) 0%, rgba(34, 35, 37, 0.81) 78.95%, rgba(34, 35, 37, 0) 100%);
}

.overlay {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 0;
    background-color: #222325;
    box-shadow: 30px 30px 100px 100px  #222325;
    opacity: 0.8;
    transition: width 0.5s cubic-bezier(0.185, 0.415, 0.190, 0.945);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 30%;
}

.overlay_active {
    width: calc(100vw + 500px);
}

.about {
    width: 350px;
    height: 350px;
    position: absolute;
    top: calc(50% - 350px / 2);
    left: -320px;
    border-radius: 50%;
    z-index: 100000;
    cursor: pointer;
    text-decoration: none;
    background: radial-gradient(50% 59.07% at 50% 50%, #403C3C 0%, #403C3C 72.92%, #545151 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), 2px -2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #F4EBD0;
    padding-right: 2px;
    box-sizing: border-box;
}

.about:hover, .about_active {
    border: 1px solid #B08E4D;
    padding-right: 1px;
}

.about:active {
    opacity: 0.75;
}
