.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 50px);
}

.text {
    padding: 10px 50px;
}

.fadein {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        position: relative;
        top: -50px;
        left: 0;
        opacity: 0;
    }
    to {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
    }
}
