.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 50px);
}

.text {
    padding: 10px 50px;
}

.fadein {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@media screen and (min-width: 1900px) {
    .header {
        font-size: 30px;
    }
    .text {
        font-size: 26px;
    }
}

@media screen and (max-width: 1550px){
    .root {
        height: calc(100% - 25px);
    }
    .header {
        font-size: 26px;
    }
    .text {
        font-size: 22px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1450px) {
    .root {
        height: calc(100% - 25px);
    }
    .header {
        font-size: 22px;
    }
    .text {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1450px) and (max-height: 750px) {
    .root {
        height: calc(100% - 25px);
    }
    .header {
        font-size: 22px;
    }
    .text {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@keyframes fadeIn {
    from {
        position: relative;
        top: -50px;
        left: 0;
        opacity: 0;
    }
    to {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
    }
}
