.root {
  width: 100%;
  padding-bottom: calc(100% * 400 / 600);
  position: relative;
}

.list {
  width: 100%;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  width: 100%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.image {
  width: 100%;
  display: block;
}