.root {
    width: 60%;
    height: calc(100% - 20px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 30px;
}

.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 150px;
}

.description {
    text-align: center;
    font-size: 24px;
}

.link {
    text-decoration: underline;
    color: inherit;
    opacity: 0.75;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.img {
    background-image: url("/images/error.svg");
    width: 100%;
    padding-bottom: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 750px){
    .root {
        width: 90%;
        height: calc(100% - 100px);
    }
    .title {
        font-size: 100px;
    }
    .img {
        padding-bottom: 50%;
    }
}
