.root {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.body {
    /*background-color: rgba(222, 222, 222, 0.05);*/
    position: relative;
    z-index: 100000;
}

.bubble {
    position: absolute;
    background-color: rgba(222, 222, 222, 0.05);
}
.base {
    position: absolute;
    background-color: #222325;
    /*opacity: 0.98;*/
}

.wheel {
    position: absolute;
    background-color: #423D3D;
    top: 0;
    left: 0;
    border: solid #222325 5px;
    box-sizing: border-box;
}

.bands {
    left: 0px;
    top: 0px;
    position: absolute;
}

.band {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #423D3D;
    cursor: pointer;
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

.bandIcon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    color: black;

}

.hover_register {
    position: absolute;
    top: calc(100% /2 - 1100px);
    left: calc(-2200px / 2 - 950px);
    width: 2200px;
    height: 2200px;
    border-radius: 1100px;
    background-color: #423D3D;
    opacity: 0.3;
}
