@font-face {
  font-family: "RatHelvetica";
  src: url(./fonts/helvetica/helvetica.ttf) format("truetype");
}

@font-face {
  font-family: "RatHelvetica";
  src: url(./fonts/helvetica/helvetica_bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RatHelvetica";
  src: url(./fonts/helvetica/helvetica_oblique.ttf) format("truetype");
  font-style: oblique;
}

@font-face {
  font-family: "RatHelvetica";
  src: url(./fonts/helvetica/helvetica_bold_oblique.ttf) format("truetype");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "RatHelveticaRounded";
  src: url(./fonts/helvetica/helvetica_rounded_bold.otf) format("opentype");
  font-weight: bold;
}


html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #222325;
  margin: 0;
  padding: 0;
  color: white;
  font-family: RatHelvetica, "Helvetica Neue", Helvetica, Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: RatHelveticaRounded, RatHelvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  line-height: 118px;
}

h2 {
  font-size: 80px;
  line-height: 94px;
}

h3 {
  font-size: 60px;
  line-height: 71px;
}

p {
  font-size: 28px;
  line-height: 34px;
  margin-block-start: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}